@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');
charsheet .sheet-galeo {
  background: #e0ffff;
  color: black;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  overflow: visible;
  padding: 0;
}
.charsheet .sheet-galeo *,
.charsheet .sheet-galeo *::after,
.charsheet .sheet-galeo *::before {
  box-sizing: border-box;
}
.charsheet .sheet-galeo input:hover,
.charsheet .sheet-galeo input:focus,
.charsheet .sheet-galeo textarea:hover,
.charsheet .sheet-galeo textarea:focus {
  background: #e5fffb;
  outline: none;
}
.charsheet .sheet-galeo select:hover,
.charsheet .sheet-galeo select:focus {
  background: #e5fffb;
}
.charsheet .sheet-galeo select:hover option,
.charsheet .sheet-galeo select:focus option {
  background: white;
}
.charsheet .sheet-galeo label {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.charsheet .sheet-galeo button[type=roll] {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.charsheet .sheet-galeo button[type=roll]:hover {
  color: #9ec1c1;
}
.charsheet .sheet-galeo button[type=roll]:focus {
  color: #9ec1c1;
  outline: none;
}
.charsheet .sheet-galeo button[type=roll]::before {
  display: none;
}
.charsheet .sheet-galeo div {
  border-radius: 10%;
  border: 1px solid #black;
}
.charsheet .sheet-galeo label {
  font-family: MedievalSharp;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-section-pc-header {
  background-size: 100% 100%;
  display: grid;
  grid-template-areas: ". logo . . ."
 ". logo . details ."
 ". name . details ."
 ". . . . .";
  grid-template-columns: 18px 289px 28px auto 18px;
  grid-template-rows: 20px 53px 46px auto;
  height: 141px;
  margin-bottom: 5px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-section-pc-header .sheet-section-pc-header-logo {
  grid-area: logo;
  padding: 15px 15px 6px;
  text-align: center;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-section-pc-header .sheet-section-pc-header-logo div {
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/198b55851b37054ba1656fdb79589daa5d10709d/resources/galeo-title.svg");
  width: 219.84px;
  height: 52px;
  display: block;
  background-size: 100%;
  margin: 0 auto;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-section-pc-header .sheet-section-pc-header-name {
  display: flex;
  grid-area: name;
  padding: 5px 15px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-section-pc-header .sheet-section-pc-header-name input {
  flex-grow: 1;
  font-family: MedievalSharp;
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-section-pc-header .sheet-section-pc-header-details {
  grid-area: details;
  overflow: hidden;
  padding: 5px 35px;
  position: relative;
}
.charsheet .sheet-galeo .sheet-form {
  border-radius: 6px;
  border: 2px solid #5d9c9c;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.charsheet .sheet-galeo .sheet-form input,
.charsheet .sheet-galeo .sheet-form select,
.charsheet .sheet-galeo .sheet-form textarea,
.charsheet .sheet-galeo .sheet-form .uneditable-input {
  color: black;
  font-size: 11px;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
}
.charsheet .sheet-galeo .sheet-form textarea {
  min-height: 56px;
  resize: vertical;
}
.charsheet .sheet-galeo .sheet-form label {
  font-size: inherit;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 30%;
  font-size: 11px;
  text-transform: uppercase;
}
.charsheet .sheet-galeo .sheet-form select {
  cursor: pointer;
}
.charsheet .sheet-galeo .sheet-form input {
  border-bottom: 1px solid #dddddd;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-overflow: ellipsis;
}
.charsheet .sheet-galeo .sheet-form .sheet-form-header {
  background: #5d9c9c;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
.charsheet .sheet-galeo .sheet-form .sheet-form-body {
  background: white;
  flex-grow: 1;
  padding: 5px;
}
/*
.charsheet .sheet-galeo .sheet-form .sheet-toggle + .sheet-form-group,
.charsheet .sheet-galeo .sheet-form .sheet-form-group + *,
.charsheet .sheet-galeo .sheet-form .sheet-form-fieldset + * {
  margin-top: 4px;
}
*/
.charsheet .sheet-galeo .sheet-form .sheet-form-group {
  display: flex;
  height: 30px;
}
.sheet-tabs {
  position: relative;
  width: 800px;
}
.sheet-tabs::after {
  clear: both;
  content: '';
  display: block;
}
.sheet-tabs .sheet-tab {
  width: 800px;
}
.sheet-tabs .sheet-tab:nth-of-type(2) > input[type="radio"],
.sheet-tabs .sheet-tab:nth-of-type(2) > .sheet-tab-label {
  margin-left: 25%;
}
.sheet-tabs .sheet-tab:nth-of-type(3) > input[type="radio"],
.sheet-tabs .sheet-tab:nth-of-type(3) > .sheet-tab-label {
  margin-left: 50%;
}
.sheet-tabs .sheet-tab:nth-of-type(4) > input[type="radio"],
.sheet-tabs .sheet-tab:nth-of-type(4) > .sheet-tab-label {
  margin-left: 75%;
}
.sheet-tabs .sheet-tab > input[type="radio"] {
  height: 30px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 25%;
  z-index: 1;
}
.sheet-tabs .sheet-tab > input[type="radio"]:hover ~ .sheet-tab-label {
  background: #e5fffb;
  border-bottom-color: #dbfff9;
}
.sheet-tabs .sheet-tab > .sheet-tab-label {
  align-items: center;
  background: #dddddd;
  border-radius: 6px 6px 0 0;
  border: 2px solid #dddddd;
  color: #8a8a8a;
  display: flex;
  font-size: 11px;
  font-variant: small-caps;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 25%;
  border-left-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: lightgrey;
}
.sheet-tabs .sheet-tab > input[type="radio"]:checked ~ .sheet-tab-label {
  background: white;
  border-color: #575757;
  border-bottom-color: white;
  color: black;
}
.sheet-tabs .sheet-tab > input[type="radio"]:checked {
  cursor: auto;
}
.sheet-tabs .sheet-tab > input[type="radio"]:checked ~ .sheet-tab-content {
  display: block;
}
.sheet-tabs .sheet-tab .sheet-tab-content {
  display: none;
  min-height: 650px;
  padding-top: 35px;
  width: 100%;
}
.charsheet .sheet-galeo .sheet-container-well {
  min-height: 65px;
  padding: 10px;
  position: relative;
  z-index: 0;
}
.charsheet .sheet-galeo .sheet-container-well::before {
  border-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-well-border.png") 96 314 96 314 fill stretch;
  border-style: solid;
  border-width: 32px 76px;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-tab-core > input[type="radio"]:checked ~ .sheet-tab-content {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: "primaries secondaries gundyr gundyr"
 "primaries proficiencies abilities abilities";
  grid-template-columns: 155px 2fr 3fr;
  grid-template-rows: 300px auto 1fr;
}
/*
.charsheet .sheet-galeo .sheet-section-pc .sheet-tab-core .sheet-container-well-core {
  grid-area: attributes;
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: 30px auto auto auto 1fr;
  grid-template-areas: "attributes proficiency-bonus"
 "attributes saves"
 "attributes skills"
 "tools tools"
 "proficiencies proficiencies";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
*/
.charsheet .sheet-galeo .sheet-section-pc .sheet-tab-core .sheet-pc-primaries {
  grid-area: primaries;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.charsheet .sheet-galeo .sheet-pc-primary {
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/198b55851b37054ba1656fdb79589daa5d10709d/resources/primary-stat.svg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 135px;
  width: 135px;
}
.charsheet .sheet-galeo .sheet-container-header button {
  background: none;
  font-family: MedievalSharp;
  border: 0;
  box-shadow: none;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
.charsheet .sheet-galeo .sheet-pc-primary .sheet-container-header button {
  padding-top: 40px;
}
.charsheet .sheet-galeo .sheet-pc-gundyr-defense .sheet-container-header button {
  padding-right: 10px;
}
.charsheet .sheet-galeo .sheet-pc-gundyr-speed .sheet-container-header button {
  padding-left: 70px;
}
.charsheet .sheet-galeo .sheet-container-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.charsheet .sheet-galeo .sheet-container-body input {
  background: none;
  border: 0;
  box-shadow: none;
  font-family: MedievalSharp;
  font-weight: bold;
  padding: 0;
  font-size: 30px;
  height: 75%;
  width: 75%;
  text-align: center;
  border-radius: 100%;
}
.charsheet .sheet-galeo .sheet-pc-primary .sheet-container-body input {
  height: 50%;
  width: 50%;
  margin-right: 5px;
}
.charsheet .sheet-galeo .sheet-pc-gundyr-defense .sheet-container-body input {
  height: 100%;
  width: 45%;
  margin-right: 6px;
}
.charsheet .sheet-galeo .sheet-pc-gundyr-speed .sheet-container-body input {
  height: 100%;
  width: 45%;
  margin-left: 20px;
}
.charsheet .sheet-galeo .sheet-container-body input:hover, .charsheet .sheet-galeo .sheet-container-body input:focus {
  background: #e5fffb;
}
.charsheet .sheet-galeo .sheet-container-body input:hover ~ span, .charsheet .sheet-galeo .sheet-container-body input:focus ~ span {
  display: none;
}
.charsheet .sheet-galeo .sheet-pc-primary .sheet-container-body input {
  margin-right: 5px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-secondaries {
  grid-area: secondaries;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-gundyr {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: "defense . speed"
 "defense durability speed"
 "runes durability amplification"
 "runes . amplification";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-gundyr .sheet-pc-gundyr-defense {
  grid-area: defense;
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/1b4fb8ce78736a0db7feb8900c95cc0f1f1d7520/resources/gundyr-defense.svg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 38px auto;
  height: 135px;
  width: 135px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-gundyr .sheet-pc-gundyr-speed {
  grid-area: speed;
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/1b4fb8ce78736a0db7feb8900c95cc0f1f1d7520/resources/gundyr-speed.svg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 38px 30px auto;
  height: 135px;
  width: 135px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-gundyr .sheet-pc-gundyr-durability {
  grid-area: durability;
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/1b4fb8ce78736a0db7feb8900c95cc0f1f1d7520/resources/stat-wide.svg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 38px auto;
  height: 135px;
  width: 135px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-gundyr .sheet-pc-gundyr-runes {
  grid-area: runes;
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/1b4fb8ce78736a0db7feb8900c95cc0f1f1d7520/resources/secondary-stat.svg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 135px;
  width: 135px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-gundyr .sheet-pc-gundyr-amplification {
  grid-area: amplification;
  background: url("https://raw.githubusercontent.com/ewetheri/galeo/1b4fb8ce78736a0db7feb8900c95cc0f1f1d7520/resources/secondary-stat.svg");
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 135px;
  width: 135px;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-proficiencies {
  grid-area: proficiencies;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.charsheet .sheet-galeo .sheet-section-pc .sheet-pc-abilities {
  grid-area: abilities;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}




.charsheet .sheet-galeo .sheet-section-pc .sheet-tab-character > input[type="radio"]:checked ~ .sheet-tab-content {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: "primaries secondaries . ."
 "primaries proficiencies . .";
  grid-template-columns: 155px 2fr 3fr;
  grid-template-rows: 85px auto 1fr;
}








.charsheet .sheet-galeo .sheet-section-pc .sheet-tab-gundyr > input[type="radio"]:checked ~ .sheet-tab-content {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: ". . gundyr gundyr"
 ". . . .";
  grid-template-columns: 155px 2fr 3fr;
  grid-template-rows: 85px auto 1fr;
}